<html ng-app="Universidad">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
        <!--Incluir Bootstrap-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        <!--Incluir AngularJS-->
        <script src="js/lib/angular.min.js"></script>
        <!--Incluir App.js-->
        <script src="js/app.js"></script>
        <style>
            .puntero{
                cursor: pointer;
            }
        </style>
        <title>Ejermplo Profesor</title>
    </head>
    <body>
        <div class="container" ng-controller="profesorCtrl as profe">
            <h1>Profesor</h1>
            <h4>Nombre De Profesor: {{profesor.nombre}}</h4>
            <hr>
            <div class="row">
                <!--Div que contiene la imagen del profesor-->
                <div class="col-sm-3">
                    <section class="panel">
                        <div class="panel-body" align="center">
                            <img ng-src="{{profesor.foto}}" class="img-circle" alt="" width="150px" height="150px">
                        </div>
                    </section>
                </div>
                <!--Div Donde se muestra la informacion del profesor-->
                <div class="col-sm-9">
                    <section class="panel">
                        <div class="panel-body">
                            {{profesor.bio}}
                            <br><br>
                            <strong>Edad: </strong> {{profesor.edad}} años
                            <br>
                            <button class="btn btn-primary" ng-click="editarProfesor()">Editar</button>
                        </div>
                    </section>
                </div>
            </div>

            <div class="row" ng-show="mostrarcaja">
                <div class="col-sm-9">
                    <section class="panel">
                        <div class="panel-body">
                            Nombre: 
                            <input type="text" class="form-control" ng-model="editar.nombre">
                            <br>
                            Edad: 
                            <input type="text" class="form-control" ng-model="editar.edad">
                            <br>
                            Bio:
                            <textarea class="form-control" rows="5" ng-model="editar.bio"></textarea>
                            <br>
                            <button class="btn btn-primary" ng-click="guardarCambio()">Guardar</button>
                            <button class="btn btn-danger" ng-click="cancelarCambios()">Cancelar</button>
                        </div>

                    </section>

                </div>

            </div>

            <div class="row" ng-show="mostrarTablaUsers">
                Busqueda:
                <input type="text" ng-model="buscar" class="form-control" placeholder="¿Que Desea Buscar?">
                <br><br>
                <table class="table table-striped">
                    <tr>
                        <th><a class="puntero" ng-click="columna='id';reverse = !reverse">Identificacion</a></th>
                        <th><a class="puntero" ng-click="columna='name';reverse = !reverse">Nombre</a></th>
                        <th><a class="puntero" ng-click="columna='username'; reverse =!reverse">Apodo</a></th>
                        <th><a class="puntero" ng-click="columna='email'; reverse =!reverse">Correo</a></th>
                        <th><a class="puntero" ng-click="columna='website'; reverse=!reverse">Sitio Web</a></th>
                        <th><a class="puntero" ng-click="columna='company.name'; reverse=!reverse">Compañia</a></th>                        
                        <th>Acción</th>
                    </tr>
                    <tr ng-repeat="usuario in user.users | filter:buscar | orderBy:columna:reverse">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.name}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.email}}</td>
                        <td>{{usuario.website}}</td>
                        <td>{{usuario.company.name}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="editandoUser(usuario.id)">Editar</button>
                            <button class="btn btn-danger" ng-click="eliminarCambiosUser(usuario.id)">Eliminar</button>
                        </td>
                    </tr>
                </table>            
            </div>
            <div class="row" ng-show="mostrarUsers">
                <div class="col-sm-6">
                    <section class="panel">
                        <div class="panel-body">
                            Nombre: 
                            <input type="text" class="form-control" ng-model="editarUser.name">
                            <br>
                            Apodo: 
                            <input type="text" class="form-control" ng-model="editarUser.username">
                            <br>
                            Correo: 
                            <input type="email" class="form-control" ng-model="editarUser.email">
                            <br>
                            Sitio web
                            <input type="text" class="form-control" ng-model="editarUser.website">
                            <br>
                            Nombre Compañia
                            <input type="text" class="form-control" ng-model="editarUser.company.name">
                            <br>
                            <button class="btn btn-primary" ng-click="guardarCambioUser(editarUser.id)">Guardar</button>
                            <button class="btn btn-danger" ng-click="cancelarCambiosUser()">Cancelar</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>